PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/barberapp?retryWrites=true&w=majority
WORKING_START=09:00
WORKING_END=18:00
SMS_API_URL=https://sms-provider.example/send
SMS_API_KEY=your_api_key_here
