# MongoDB Atlas connection string
# https://www.mongodb.com/cloud/atlas adresinden alın
ATLAS_URI=mongodb+srv://kullaniciadi:sifre@cluster0.xxxxx.mongodb.net/barberapp?retryWrites=true&w=majority

# Server port
PORT=5000
